.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

.link-1 {	
  transition: 0.3s ease;
  /*background: #3fa46a;*/
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  border-top: 0px solid #3fa46a;
  border-bottom: 0px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;

}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
.name ul li:nth-child(1) h1{
	/*font-weight: 300;*/
	transform: scale(1.9);
}
.name ul li:nth-child(9) h1{
	/*font-weight: 300;*/
	transform: scale(1.9);
}