@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Orbitron:700');	
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
	box-sizing: border-box;
	text-decoration: none;
	text-decoration-style: none;
	list-style: none;	
	
}
body {
	font-family: 'Quicksand', sans-serif;
	background-image: url(../images/galaxy.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
	text-decoration: none;
  }
a{
	color: rgb(0, 0, 102);
}
a:hover{
	text-decoration: none;	
}
h2{
	text-shadow: 1px 1px 5px rgb(179, 176, 176);
	font-family: 'Russo One', sans-serif;	
}

#header-div{
	background-color: #fff;
	color: #000;
	text-align: center;
	transition: 1s;
	font-weight: bold;	
	display: flex;
}


.is-sticky #header-div{
	background-color: #0099CC;
	height: 70px;

}
	/* .is-sticky #header-div ul li a{
		color: #fff;
	} */
#cover-div{
	background-color: white;
  height: 500px;
}
/* #header-div ul li{
	list-style-type: none;
	display: inline-block;
	padding: 12px;
} */
/* #header-div ul li a:hover{
	color: red;
	text-decoration: none;
} */

#mypic{
	/*border-radius: 50%;*/
	height: 150px;
	margin: 0 auto;
}
#intro-div{
	/* padding-top: 2\0px; */
	background-color: #fff;
	color: #000;
	padding-bottom: 100px;	
	
	/* border: 10px solid rgb(7, 115, 129); */


}
#intro-full-stack{
	background: rgba(0,0,0, .8);
	color: #fff;
	min-height: 100vh;
	/* background-image: url(../images/galaxy.jpeg); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
	/* opacity: .8; */

}
#wrapperLandingPage{

}
#full-stack{
	/* background-color: rgb(122, 0, 0); */
	border-radius: 40px;
	margin-top: 130px;
	padding: 20px;
}

#full-stack h1{	
	font-family: 'Orbitron', sans-serif;
	font-size: 5em;
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 10px 2px 2px rgba(255, 255, 255, 0.5);
	padding-top: 80px;
	padding-bottom: 30px;
	/* text-shadow: 5px 8px 6px #39CCCC; */
}
#full-stack h2{	
	font-family: 'Orbitron', sans-serif;
	font-size: 3.5em;
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 5px 2px 2px rgba(255, 255, 255, 0.5);
}
#inside-padding{
	padding-top: 100px;
	/* border: 5px solid #000;
	background-color: #ccc;  */
	border-radius: 10px;


}
#skill-page, #mySkills{
	border: none;

}
#skill-page{
	height: 100vh;
}
.skill-sec div {
    display: inline-block;
    padding: 3px 20px;	
}
.skill-sec h4{
	text-transform: uppercase;
	font-weight: bold;
}
.skill-sec .col p{
	font-size: bold;
}
.skills-col {
    max-width: 1100px;
    display: block;
    margin: auto;
    text-align: center;
}
#Wrapper{

	background-color: #fff;
}
#mySkills h2{
	text-transform: uppercase;
	font-weight: bolder;	
	text-align: center;
}
#project{
	background-color: #6886b7;
	/*opacity: 0.9;*/
}
#service-div{
	background-color: #994343;
	justify-content: center;
}
#media-div{
	background-color: #f2f2f2;
	border-bottom: 1px solid #fff;

}
#footer-div{
	background-color: #f2f2f2;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}
#footer-div p{
	font-size: 1.2em;

}
.flex-box-info{
	border: 1px solid #fff;
	height: 140px;
	margin: 5px;
	padding: 25px;
	border-radius: 10px;

}

#home{
	margin: 0 auto;
	width: 80%;
	padding-top: 30px;
}
#name-pic{
	background-color:none;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	/* border: 1px solid #ccc; */
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	box-shadow: -15px 5px 10px #ccc;
}
#name-pic h1{
	font-size: 5rem;
}
#name-pic h3{
	font-size: bold;
	color: #2BBBAD;	
	font-weight: bold;
}
#name-pic h3:hover{
	position: relative;
	top: -5px;
}
#btn-resume{
	padding: 10px;

}

#project-image{
	height: 250px;
	width:400px;
	padding-bottom:25px;
	
}

/*.flex-container{
	margin: 0 auto;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
/*}*/
/*.flex-box-div {
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 30%;
    padding: 5px;
    margin: 10px;
    flex-direction: column;	
}*/
.des{
	font-size: 1.3em;
	padding-top: 10px;
	padding-right: 25px;
}
.col-div{
	margin: 10px;
	border: 1px solid white;
	height: 200px;
}
#arrow-div{
	background-color: #000;
	align-items: center;
}

.i-arrow{
	/*border: 1px solid red;*/
	width: 40px;
	margin: 0 auto;

}
/*border colors*/
#colorBarContainer{
	background-color:rgb(247, 244, 244);
	height: 10px;	
}
ul.colors {
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    font-size: 0;
    list-style-type: none;
    background-color: black;
}
ul.colors li {
    display: inline-block;
    height: 10px;
    width: 16%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}
ul.colors li:nth-child(1) {
    background: rgb(196, 9, 9);
}
ul.colors li:nth-child(2) {
    background: rgb(8, 173, 214);
}
ul.colors li:nth-child(3) {
    background: rgb(88, 221, 71);
}
ul.colors li:nth-child(4) {
    background: rgb(236, 15, 100);
}
ul.colors li:nth-child(5) {
    background: rgb(178, 238, 253);
}
ul.colors li:nth-child(6) {
    background: rgb(175, 228, 52);
}
ul.colors li:nth-child(7) {
    background: rgb(97, 214, 218);
}

.icon-white i{
	width: 100px;
}
.social-icon-wrapper{
	padding-top: 10px;
}
.social-icon-wrapper li p{
	color: blue;
	vertical-align: top;
}
#home-text p{
	font-size: 2rem;
}

.skill-img{
	width: 60px;
}
#name-div{
	background-color: #000;
}
.name ul li{
	display: inline-block;
	font-size: 6rem;
	letter-spacing: 20px;
	align-items: center;

}
.name ul li: hover{
	font-size: 20px;
}
#logo{
	height: 60px;

}
#footer-div p{
	text-align: center;
	padding: 20px;
}
.media-link{
	/*border-left: 1px solid white;*/
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;	

}
.media-link a:hover{
	transition: 4s;
	/* letter-spacing: 2px; */
	/* border-top: 1px solid #f00; */
	border-bottom: 1px solid #f00;

}
/* #zoom{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#zoom:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */
.prj{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); 
}

.about-me{
	background-color: none;
	padding: 50px 20px 65px 50px;
	/* border-left: 1px solid #ccc; */
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	box-shadow: 15px 5px 10px #ccc;

}

.myName{
	text-align: center;
	
}
.myname li {
	text-align: center;
	vertical-align: middle;
	list-style: none;
	float: left;
	font-size: 3em;
	font-weight: bold;
	border: 1px solid rgb(153, 68, 68);
	margin: 2px;
	background-color: #000;
	color: #fff;
	width: 60px;
	height: 60px;
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
	transition: .5s;
	box-shadow: -20px -20px 10px rgba(0,0,0,.5);
}
.myname li:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 20px;
		background: #b1b1b1;
		transition: .5s;
		transform: rotate(0deg) skewY(-45deg);
}
.myname li:after{
	content: '';
	position: absolute;
	bottom: -20px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewX(-45deg);
}
.myname{
	display: inline-block;
}
.myname li:nth-child(8){
	margin-left: 20px;
}
.logo-circle{
	background-c	olor: white;
}
.logo-circle h1{
	text-align: center;
}
.logo-circle img{
	border-radius: 100%;
	border:1px solid black;
	background-color: green;
	
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;	
	text-rendering:optimizeLegibility;
}
.contact-bg{
	background-color: #ccf;
}
#contact-div {
	max-width:700px;
	width:100%;
	margin:0 auto;
	position:relative;
	height: auto;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact textarea, 
#contact button[type="submit"] { 
	font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

#contact {
	background:#fff;
	padding:25px;
	margin:50px 0;
}
#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
/* #name-pic h3{
	font-weight: bolder;
	font-size: 1.4em;
}
.name-pic a:hover{
	color: red;
} */
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact textarea {
	width:100%;
	border:1px solid #fff;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, 
#contact input[type="email"]:hover, 
#contact input[type="tel"]:hover,
 #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  	resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	/*width:100%;*/
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
	color: #fff;
}

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/*================Photo transition===========================*/

#photo-transition{
	/* z-index: -1111; */
	background-color: #fff;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	padding-top: 29px;

}
#photo-transition h1{
	margin-top: 30px;
	text-align: center;
}
.container-a {
	width: 94.02985075%;
	max-width: 1260px;
	/*background: #fff;*/
	margin: auto;
}
.main-header {
	text-align: center;
	padding: 2.8em 0;
}
.photo-container {
	text-align: center;
	margin-bottom: 4em;
}
/* ---- Page Elements ---- */

.name {
	font-size: 1.65em;
	font-weight: 800;
	margin: 0 0 1.5em;
	line-height: 1;
}
.name span {
	font-weight: 300;
	margin-left: -7px;
}
.logo {
	width: 45px;
	margin-bottom: .4em;
}
.photo-z {
	position: relative;
	line-height: 0;
	overflow: hidden;
	width: 350px;
	height: 220px;
	box-shadow: inset 0 0 2em #fff, 0 0 2em #000;
 
			/*-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
			-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
			-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);*/
}
.photo-z img{
	width: 350px;
	height: 220px;

}

.photo-container img {
 	max-width: 100%;
}
.button {
	color: #fff;
	width: 75%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	background: rgba(74,137,202, .65);
	padding: 22px 0;
	border-radius: .5em;
	margin: 0;
	position: relative;
}
.btn-icon {
	opacity: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../img/download.svg');
	position: absolute;
	left: 45%;
	top: 27%;
}



/* ---- Photo Overlay ---- */

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background: rgba(134, 121, 121, .7);*/
	background-color: #00C851;
}
.photo-overlay p{
	 line-height: 150%;
}
/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
/* ================================= 
  Photo Overlay Transition
==================================== */

.photo-overlay {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* ================================= 
  Button Transitions
==================================== */

.button {
	opacity: 0;
	transition-property: opacity, background, box-shadow;
	transition-duration: .5s;	
	transition-delay: .2s, .3s, 0s;
	transition: opacity .3s ease-out .2s, background .4s ease-out .3s, box-shadow .5s ease-out .0s;
	transition-timing-function: ease-out;
}
.button:hover{
	background: rgba(74, 137, 202, 1);
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
}
.photo-overlay:hover .button{
	opacity: 1;
}
.btn-icon{
	transition-property: opacity, left;
	transition-duration: .5s;
	transition-delay: .3s;
	transition-timing-function: ease-in-out, ease-out;

}
.button:hover .btn-icon{
	opacity: 1;
	left: 80%;
}


.lay-div{
	height: 30px;
	background-color: #546d96;
	width: 350px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
hr{
	height: 1px;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #000;

}
/* .media-link{
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
} */

#randomQuoteDiv p{	
		color: rgb(0, 0, 0);
		padding-top: 20px;
		font-size: 1.4em;
		margin: auto;
		font-weight: bold;
		text-shadow: none;
}


.contact-div{
	background-color: #fff;
	padding-top: 50px;
}
.contact-div h1{
	text-align: center;	
}
.contact-form{
	width: 400px;
}


 /* Projects Flexbox Container  */

#my-recent-project{
	margin: -15px 0;
} 

 #myprojectContainer{
	 margin: 0;
	 padding-top: 10px;
	 background-color: #fff;
	 /* background-image: url("https://images.unsplash.com/photo-1459382421372-e53a1e0f9266?auto=format&fit=crop&w=1652&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-attachment: fixed;  */
 }

.projectFlexbox{
	margin: 0 auto;
	width: 80%;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* background-color: rgb(212, 212, 127); */
	justify-content: space-between;
}

.projectFlexboxItem{
	background-color: rgb(255, 255, 255);
	width: 360px;	
	height: auto;
	margin: 20px 0;
    /* box-shadow: 2px 2px 2px 4px rgb(202, 225, 238); */
	border: 2px solid rgb(168, 166, 166);		
	box-shadow: 2px 5px 11px rgb(170, 182, 194);

}
.projectDescriptionContainerFlexbox{
	padding-left: 20px;
	height: 130px;	
}
.projectIconFlexbox{
	/* border: 1px solid red; */
	background-color:#0099CC;
	padding-left: 50px;
	height: 40px;
}
.projectIconFlexbox img {
	margin-top: 5px;
	margin-left: 10px;
	width: 25px;
}

.projectHeaderflexbox{
	border:1px solid rgb(168, 166, 166);
	background-color: #0099CC;
	height: 40px;
	
}
.projectHeaderflexbox h3{
	font-weight: bold;	
	color: rgb(255, 255, 255);
	font-size: 2rem;
	position: relative;
	top: -12px;
}
.img-container{
    position: relative;
	overflow: hidden;
}
.img-container img{
	height: 250px;
	width: 400px;
	max-width: 100%;
    transition: all 0.9s;	
}

.img-container img:hover{
    transform: scale(1.1);
}

 /* Projects Flexbox Container End */

#random-quote{
	color: #000;
	font-size: 2em;
	text-shadow: 1px 1px rgb(255, 255,255);
	padding-bottom: 10px;

}
/* .jeopardy{
	border: 1px solid rgb(0, 255, 128);
	margin-left: 30px;
	padding-bottom: 10px;		
} */
.projectContainerWrapper{
	border: 5px solid rgb(43, 207, 112);
	margin: 20px 0 20px 0;
}

.recentProject{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	
.btn-jeopardy{
	align-content: center;
}

.des-jeopardy-top{
	background-color: #000;
	color: #fff;
	padding: 1px 0;
	height: auto;	
	border: 1px solid red;
}


/*=====Sticky Social Media Icon*/
#social-media-icon {
    position: fixed;
	top: 30%;
	left: 0;
	background: #2BBBAD;
    border: 1px solid rgb(204, 197, 197);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* opacity: 0.7; */
    z-index: 9999;
}
#social-media-icon ul {
    list-style-type: none;
}
#social-media-icon ul li {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
#social-media-icon ul li a {
    display: block;
    color: rgb(10, 32, 68);
    padding: 5px;
    transition: transform .5s ease-in-out;
}
#social-media-icon ul li a:hover {
	color: #FF8800;
	transform: rotate(720deg)
}
#social-media-icon i {
    font-size: 30px;
}
/*=====Sticky Social Media Icon End*/

.ksu, .ga, .ctc{
	/* text-transform: uppercase; */
	font-weight: bold; 
	color: #0099CC;
}
.project-icons{
	background-color: #fff;
	/* height: 50px; */
	padding: 10px 0 10px 0;
	border: 1px solid rgb(37, 167, 25);

}
.project-icons img{
	width: 25px;
    
}
.btn{
	border: 0;
	border-radius: 0;
	box-shadow: 0 8px 6px -6px black;
}
#footer-div p{
	font-size: 1em;
}
#footer-copyrights p{
	font-size: 1.6rem;
}
#prakashrai-color{
	color: #ff4444;
}

/*====================================================
                       CONTACT
======================================================*/
#information {
	background-color: #3F729B;
    padding: 30px 0;
	
}

#contact-left {
    margin-top: 20px;
}

#contact-right {
	margin-top: 20px;
}

#contact-left #contact-info {
    margin-top: 15px;
}

#contact-left #contact-info address {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

#contact-left #contact-info address strong {
    font-weight: 700;
}

#contact-left #phone-fax-email {
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

#contact-left #phone-fax-email strong {
    font-weight: 700;
}

#contact-left ul.social-list {
    text-decoration: none;
}

#contact-left ul.social-list li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

#contact-left ul.social-list li a {
    color: #fff;
}

#contact-left ul.social-list li a:hover {
    color: #e74c3c;
}

#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
	text-transform: uppercase;
	
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}
#frameworks{
	padding: 60px 0;
	
}
#skills{
	padding-top:50px;
}
#copyright{
	background-color: #212121;
	color: #fff;
	padding: 10px;
}
#copyright p {
	font-weight: bold;
	text-align: center;

}
/* .col-md-3{
	margin: 20px;
} */
/* .col-md-3:hover{
	box-shadow: 3px 3px 5px 6px #ccc;
} */
/* #load{

    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://blog.thibaulthelsmoortel.be/wp-content/uploads/2017/02/spinner.gif") no-repeat center center rgba(0,0,0,0.25)
} */
#loading{
	height: 100vh;
	background-color: black;
}
#projectsContainer{
	border: 1px solid red;
}
/* Flexbox Projects */

.projectsWrapper{
	display: flex;
	flex-wrap: wrap;
}
.projectsItemWrapper{
	width: 250px;
	height: 250px;
	border: 1px solid rgb(177, 56, 56);
	background-color: #fff;
	margin: 15px;
}

/* Skills  */
#skillsContainer{
	background-color: #fff;
	padding: 50px 0;
}

.mySkillContainer{
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	justify-content: space-between;
	
}
.mySkillContainerItem{
	border: 1px solid rgb(187, 38, 38);
	padding: 20px;	
	min-width: 500px;
}
.mySkillContainerItem p{
	font-weight: bold;
	font-size: 2.2rem;
	text-transform: uppercase;
}
.mySkillContainerItem ul li{
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
	list-style-type: circle;
	padding-top: 8px;
}

/* Skill Page end */
#flexContainerSocialMedia{
	display: flex;
	justify-content: center;	
}
#resumeContainer i {
	text-align: center;
	font-size: 50px;
	color: #fff;
}
#resumeContainer i:hover {
	font-size: 50px;
	color: #6fa4c7;
}
#resumeContainer{
	margin: 10px;
	
}
#resumeContainer button{
	background-color: rgb(75, 73, 73);
	padding: 10px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	width: 95px;
	height: 95px;
	border-radius: 100%;
	border: 1px solid rgb(238, 233, 233);
}
#resumeContainer button:hover{
	border: 2px solid #fff;
	box-shadow: -2px -2px 22px 4px #fff;
	transition: .7s ease-in-out;
	color: #00C851;
	background-color: #000;

}
#resume-div{
	background-color: rgb(214, 153, 153);
	opacity: .9;
}
#resume-div ul li{
	display: inline-block;
}
.resume{
	color: rgb(255, 255, 255);
	font-weight: bold;
	/* font-family: 'Sedgwick Ave Display', cursive; */
	font-size: 15px;
}
.resume:hover{
	color: #6fa4c7;
	font-weight: bolder;
}

/* Animation */
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

#skillContainer{
	display: flex;
	flex-wrap: wrap;
	/* background-color: #fff; */
	justify-content: center;
	/* border: 1px solid rgb(121, 120, 120); */
	padding: 5px 30px;
	margin-top: 10px;
	border-top-right-radius: 40px;
	box-shadow: 2px -2px 15px rgb(170, 182, 194);
}

#skillContainer h3{
	color: #0099CC;
	font-weight: bolder;
}
#skillContainer-1 h3{
	color: #0099CC;
	font-weight: bolder;
}
#skillContainer-1{
	display: flex;
	flex-wrap: wrap;
	/* background-color: #fff; */
	justify-content: center;
	/* border: 1px solid rgb(121, 120, 120); */
	padding: 5px 30px;
	margin-top: 120px;
	border-bottom-left-radius: 40px;
	box-shadow: -2px 2px 5px rgb(170, 182, 194);
		
}
#skillItemContainer{
	padding: 10px;
	margin: 10px;	
}
#skillItemContainer img{
	margin: 0px 10px;
	border-radius: 10px;
	transition: all 3s ease-in-out;		
	}
#skillItemContainer img:hover{
	transform: rotate(1080deg);
	
	}
#skillWrapperContainer{
	/* background: linear-gradient(90deg, #fff, #0099CC); */
	background-color: #fff;
	padding-bottom: 90px;
	padding-top: 30px;	
	margin: 0;
}

.seeMore{
	position: relative;
	left: 50%;	
	margin-top: 100px;
	text-align: center;
	font-size: 3.5em;
	width: 50px;
	height: 60px;	
}
.scroll{
	position: relative;
	left: 50%;	
	margin-top: 100px;
	text-align: center;
	font-size: 1em;
	width: 50px;
	height: 60px;
}


.seeMore i{
	color: #0099CC;
	transition: all 1s ease-in-out;
}
.seeMore i:hover{
	color: rgb(255, 255, 255);
}
.seeMore:hover{
	color: rgb(136, 15, 15);
	font-size: 3.4em;
}
.logo{
	width:40px;
}
.full-stack, .kennesaw, .general{
	transition: all 3s ease-in-out;
	color: #2BBBAD;
	font-size: 2.5rem;
	font-weight: bold;
}
.kennesaw:hover, .general:hover, .full-stack:hover{
	position: relative;
	top: -5px;
}

section{
	width: 100%;
	min-height: 250px;
  }
  .wave{
	position: relative;
	background: linear-gradient(90deg, #fff, #0099CC);

  }
  .wave:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	background: url(../images/wave.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% auto;
  }
  .waveSideDown{
	position: relative;
	background: linear-gradient(90deg, #fff, #0099CC);
  }
  .waveSideDown:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	background: url(../images/wave1.png);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-size: 100% auto; */
  }


  #randomQuoteDiv{
	background: linear-gradient(90deg, #fff, #0099CC);
	height: auto;

}
.mylogo{
	height: 60px;
	border-radius: 20%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	
}
.logoDiv{
	display: flex;
	width: 10%;
	margin-right: 5px;
}
.navbarDiv{
	display: flex;
	justify-content: center;
	height: 60px;
	line-height: 60px;
	width: 80%;
}
.navbarItems{
	padding: 5px 15px 0 10px;
	/* border: 1px solid red; */

	
}
.navbarItems a{
	color: #000;
	
}
